h2{
     margin-left: 150px;
}
.Thumbnail{
    border: 8px solid #ddd;
    border-radius:8px;
    padding: 4px;
    width: 300px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(47, 136, 106);
    margin-left: 100px;
}
#id1{
       display: block;
       margin-left: auto;
       margin-right:auto ;
       margin-top: 50;
       width: 500px;
       height: 400px;
       background-color: darkseagreen;
}
.Rounded{
    height:300px;
    width:400px;
    border-radius: 10px;
    margin-left: 50px;
    padding: 2px;
    border: 6px solid whitesmoke;
    border-color: black;
    background-color: rgb(0, 2, 1);
    
}
#id2{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 140, 255);
}