body{
      background:url("Space.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}
a:hover{
      color: red;
      transition: 3ms;
}
table:hover{
      transform: scale(1.20);
      transition: 0.3s ease;
}
table{
      align-content:center;
      color: slateblue;
}